.navbar_title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.session {
  /* position: absolute; */
  width: 156px;
  height: 50px;
  left: 860px;
  top: 78px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;

  letter-spacing: 0.01em;
}

.left_switch {
  z-index: 2;
  /* position: absolute; */
  width: 59px;
  height: 34px;
  top: 140px;
  left: 996px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.01em;
}

.right_switch {
  z-index: 2;
  /* position: absolute; */
  width: 57px;
  height: 34px;
  left: 1127px;
  top: 140px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.01em;
}

.about_text {
  z-index: 2;
  text-align: center;
  height: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;
}

.about_text.dark {
  color: #f2f2f2;
}

.author,
.git,
.description,
.stack {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.01em;
}
.stack_details,
.author_details,
.git_details {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.01em;
}
.description_details {
  /* position: absolute; */
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.01em;
  top: 84px;
  left: 8px;
}
.author_text,
.git_text,
.description_text,
.stack_text {
  /* position: absolute; */
  width: 176px;
  height: 16px;
  left: 94px;
  top: -20px;
}

.session_text,
.break_text {
  /* position: absolute; */
  bottom: 65px;
  left: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.timer_clock {
  width: 293px;
  height: 98px;
  font-weight: 500;
  font-size: 88px;
  line-height: 98px;
}

.timer_clock.light {
  background-color: #f2f2f2;
}

.counter_timer {
  /* position: absolute; */
  top: -10px;
  left: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.left_switch.inactive,
.right_switch.inactive {
  color: #bdbdbd;
}
@media screen and (max-width: 769px) {
  .navbar_title {
    /* position: absolute; */
    width: 106px;
    height: 16px;
    left: 20px;
    top: 16px;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 16px;
  }

  .session {
    /* position: absolute; */
    width: 94px;
    height: 26px;
    left: 141px;
    top: 142px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.01em;
  }

  .left_switch {
    z-index: 2;
    /* position: absolute; */
    width: 30px;
    height: 22px;
    top: 140px;
    left: 626px;
    font-size: 12px;
    line-height: 22px;
  }

  .right_switch {
    z-index: 2;
    /* position: absolute; */
    width: 29px;
    height: 22px;
    left: 706px;
    top: 140px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

  .about_text {
    z-index: 2;
    /* position: absolute; */
    width: 220px;
    height: 50px;
    left: 511px;
    top: 98px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
  }

  .about_text.dark {
    color: #f2f2f2;
  }

  .author,
  .git,
  .description,
  .stack {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.01em;
  }
  .stack_details,
  .author_details,
  .git_details {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
  .description_details {
    /* position: absolute; */
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    top: 84px;
    left: 8px;
  }
  .author_text,
  .git_text,
  .description_text,
  .stack_text {
    /* position: absolute; */
    width: 176px;
    height: 16px;
    left: 94px;
    top: -20px;
  }

  .session_text,
  .break_text {
    /* position: absolute; */
    bottom: 65px;
    left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.01em;
  }

  .timer_clock {
    /* position: absolute; */
    width: 293px;
    height: 98px;
    left: 123px;
    top: 137px;
    font-weight: 500;
    font-size: 88px;
    line-height: 98px;
    letter-spacing: 0.01em;
  }

  .timer_clock.light {
    background-color: #f2f2f2;
  }

  .counter_timer {
    /* position: absolute; */
    top: -10px;
    left: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.01em;
  }

  .left_switch.inactive,
  .right_switch.inactive {
    color: #bdbdbd;
  }
}
