p {
  text-align: center;
}

.section{
  margin:15px;
  width:40%;
}

.section.light{
  
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
}
.section.dark{
  
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
}

@media screen and (max-width: 769px) {
}
