.switch_button {
  width: 30px;
  height: 30px;
  background: #6dd7b9;
  border-radius: 50%;
  border: 4px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.switch_button.light {
  margin-right: 10px;
}

.switch_button.dark {
  margin-left: 10px;
}

.switch {
  position: absolute;
  right: 50px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .switch {
    top: 10px;
  }
}