.timer {
  position: absolute;
  width: 539px;
  height: 539px;
  left: 61px;
  top: 59px;
  border-radius: 50%;
}

.timer.light {
  background-color: #f2f2f2;
  color: #333333;
}

.timer.dark {
  background-color: #252836;
  color: #ffffff;
}
