.counter {
  box-sizing: border-box;
  border-radius: 16px;
}

.counter_settings {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #BDBDBD;
  border-radius: 16px;
}

.counter_timer {
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  margin: 0;
  padding: 0 15px;
  height: 66px;
  display: flex;
  align-items: center;
}

.plus,
.minus {
  text-align: center;
  color: #11bcc7;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

input {
  text-align: center;
}
